<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8" ><title>Autor</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Autor</h2>
    <p>Nombre: <span>Ricardo</span></p>
    <p>Apellidos: <span>Martínez Barrero</span></p>
  </body>
</html>
